<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    
 <head>
 	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link rel="stylesheet" href="../css/style.css">
	<!------ Include the above in your HEAD tag ---------->
</head>
<body>

	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong><i class="glyphicon glyphicon-tag"></i> Novo Produto</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <!--  <li class="active"><a href="#">Home</a></li> -->
            <!-- <li><a href="#about">About</a></li> -->
            <!-- <li><a href="#contact">Contact</a></li> -->
            <!-- 
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
             -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <!--  <li><a href="../navbar/">Default</a></li> -->
            <!-- <li><a href="../navbar-static-top/">Static top</a></li> -->
            <li class="active" ><a href="./"> <i class="glyphicon glyphicon-home"></i> <strong> HOME</strong> <span class="sr-only">(current)</span></a></li>
            <li class="active" ><a href="./CadastroProduto.html"> <i class="glyphicon glyphicon-plus"></i> <strong>  CADASTRO PRODUTO</strong> <span class="sr-only">(current)</span></a></li>
            <li class="active" ><a href="./"> <i class="glyphicon glyphicon-circle-arrow-left"></i> Opção <span class="sr-only">(current)</span></a></li>
            <li class="active" ><a href="./"> <i class="glyphicon glyphicon-circle-arrow-left"></i> Opção <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav><!--/.nav-collapse -->
   <br>
	<div class="container">
	<div class="jumbotron">
		<section>
	       <table class="table table-striped">
	          <tbody>
	             <tr>
	                <td colspan="1">
	                   <form class="well form-horizontal" id="formulario"  method="POST" th:action="@{/produtos}" th:object="${produto}" >
	                   <!-- <form class="well form-horizontal" id="formulario"  method="POST" <!-- th:action="@{/produtos}" th:object="${produto}">  -->
	                     
	                      <fieldset>
	                      
	                         <div class="form-group">
	                            <label class="col-md-4 control-label">Status</label>
	                            <div class="col-md-8 inputGroupContainer">
	                               <div class="input-group">
	                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
	                                  <select class="selectpicker form-control input-lg" name="status" th:field="*{status}">
	                                     <option th:each="status: ${todosStatusProduto}"  id="status" th:value="${status}" th:text="${status.descricao}"></option>
	                                  </select>
	                               </div>
	                            </div>
	                         </div>
	                         
	                         <div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
	                            <label class="col-md-4 control-label">Valor</label>
	                            <div class="col-md-8 inputGroupContainer">
	                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span><input class="form-control input-lg" id="valor" name="valor" placeholder="R$" class="form-control" required="true" value="" type="text" th:field="*{valor}"></div>
	                            </div>
	                         </div>
	                         
	                         <div class="form-group" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-error">
	                            	<label class="col-md-4 control-label">Data de Vencimento</label>
	                            <div class="col-md-8 inputGroupContainer">
	                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                               <input type="text" class="form-control input-lg"	id="dataVencimento" th:field="*{dataVencimento}" name="dataVencimento"
	                               			required="true" value="" type="text"
											data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
											data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
									</div>
	                            </div>
	                         </div>
	                         
	                         <div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
	                            <label class="col-md-4 control-label">Descrição</label>
	                            <div class="col-md-8 inputGroupContainer">
	                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
	                               	<textarea class="form-control" id="descricao" name="descricao" rows="5" required="true" value="Decreva o produto..." type="text" th:field="*{descricao}"></textarea>
	                               </div>
	                            </div>
	                         </div>
	                         <!--  
	                         <div class="form-group">
	                            <label class="col-md-4 control-label">Postal Code/ZIP</label>
	                            <div class="col-md-8 inputGroupContainer">
	                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true" value="" type="text"></div>
	                            </div>
	                         </div>
	                         -->
	                         
	                         <div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">
	                         	<div class="btn-group btn-group-lg" role="group" aria-label="Primeiro grupo">
	                         		<a id="Descartar" class="btn btn-danger"> <strong>Descartar</strong> <i class="glyphicon glyphicon-remove"></i> </a>
	                         	</div>
	                         	<div class="btn-group btn-group-lg" role="group" aria-label="Segundo grupo">
	                         		<button id="submit" type="submit" class="btn btn-primary"> <strong>Salvar</strong> <i class="glyphicon glyphicon-ok"></i> </button>
	                         	</div>
	                         </div>
	             
	                      </fieldset>
	                   </form>
	                </td>
	              
	             </tr>
	          </tbody>
	       </table> <!-- TABELA  -->
	       </form>  <!-- FORMULÁRIO  -->
	       </section>
	     </div>
	    </div><!-- container -->
	<script>
		$(document).ready(function(){
		    $("#dataVencimento").mask("99/99/9999");
		    
		    $("#valor").mask('#.##0,00', {reverse: true});
		    
		    $("#Descartar").click(function() {
		    	$("#status").reset();
		    	$("#valor").reset();
		    	$("#dataVencimento").reset();
		    	$("#descricao").reset();
		    });
		});
		
	</script>
    </body>
   </html>